body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
    background-image: url('kk_cb_bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    place-content: center;
    font-family: "Lexend Tera", sans-serif;
}

.gameResult {
    display: none;
    color: #d7ff44;
    text-shadow: 0 0 10px #162d24;
    font-size: 30px;
    font-weight: 500;
}

.errorMessage {
    display: none;
}

.player-container {
    background-color: rgba(255, 255, 255, 0.583);
    display: flex;
    align-items: center;
    height: 10em;
    margin: 2em;
    padding: 5em 2em;
    border-radius: 8px;
}

.player-container h4 {
    margin: 10px 0px;
}

.character-img img{
    width: 12em;
    height: auto;
    padding-right: 1em;
}

.moves-container {
    margin: 5px 0px;
}

.moves {
    color: #560061;
    background-color: #d283ff;
    font-size: 1.5em;
    font-family: "Lexend Tera", sans-serif;
    border: 3px solid #d283ff;
    border-radius: 8px;
    padding: 10px 30px;
    margin: 5px 3px;
}

.moves:hover {
    color: #d283ff;
    background-color: #560061;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.input-container {
    display: flex;
    gap: 5px;
    margin: 5px 4px;
}

.input-container .errorMessage{
    font-size: 12px;
    color: red;
    width: 455px;
}

.player-input-box {
    color: #560061;
    width: 455px;
    height: 25px;
    font-family: "Lexend Tera", sans-serif;
    border: 2px solid #560061;
    border-radius: 5px;
    padding: 0px 25px;
}

.input-container button{
    color: #d283ff;
    background-color: #560061;
    cursor: pointer;
    border: 2px solid #560061;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    font-family: "Lexend Tera", sans-serif;
    font-weight: 700;
}

.input-container button:hover{
    color: #560061;
    background-color: #d283ff;
    cursor: pointer;
    transition: background-color 0.5s ease;
    width: 60px;
    height: 30px;
    font-family: "Lexend Tera", sans-serif;
}

.computer-score-container {
    display: flex;
    align-items: center;
    /* gap: 20px; */
}

.displayComputer {
    background-color: #1d233b;
    color: #9ac859;
    text-shadow: 0 0 5px #a8c67e;
    border: 2px solid #1d233b;
    border-radius: 5px;
    width: 260px;
    height: 110px;
    padding: 20px;
    text-align: center;
}

.character-img.karen img{
    width: 12em;
    height: auto;
    padding-right: 0;
}

.score-board {
    margin-left: 75px;
    padding: 18px;
    color: white;
    background-color: #3a745d;
    border: 5px solid #d19e6f;
    border-radius: 2px;
}

.score-board button{
    color: white;
    background-color: #3a745d;
    cursor: pointer;
    font-family: "Lexend Tera", sans-serif;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
}

.score-board button:hover{
    /* color: #; */
    cursor: pointer;
    border: 2px solid #162d24;
    background-color: #162d24;
    transition: background-color 0.5s ease;
    font-family: "Lexend Tera", sans-serif;
}

.message-board {
    width: 500px;
    height: 200px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

